.skillContainer{
  position: absolute;
  width: 19.7%;
  height: 14.45%;
}
.skillContainer.row1{
  top: 3.3%;
}
.skillContainer.row2{
  top: 18.7%;
}
.skillContainer.row3{
  top: 34.3%;
}
.skillContainer.row4{
  top: 49.8%;
}
.skillContainer.row5{
  top: 65.4%;
}
.skillContainer.row6{
  top: 81%;
}
.skillContainer.column1{
  left: 4.82%;
}
.skillContainer.column2{
  left: 26.3%;
}
.skillContainer.column3{
  left: 47.9%;
}
.skill, .skill:focus {
  position: absolute;
  backdrop-filter: brightness(60%);
  width: 77%;
  height:  77%;
  border-radius: 2px;
  background-color: transparent;
  border-color: transparent;
  z-index: 1;
  outline: none;
}
.skill:hover, .skill:active {
  border-radius: 2px;
  border-width: 3px;
  background-color: transparent;
  border-color:  linen;
  box-shadow: 0 0 6px linen;
  outline: none;
}


button.currentSkill, button.currentSkill:focus {
  border-color: linen;
  backdrop-filter: brightness(80%);
  border-width: 2px;
  box-shadow: 0 0 6px linen;
  outline: none; 
}
button.currentSkill:hover, button.currentSkill:active {
  border-width: 3px;
}

button.allocated, button.allocated:focus {
  backdrop-filter: none;
}

button.synergy, button.synergy:focus {
  border-color: #598AB1;
  border-width:  2px;
  box-shadow: 0 0 6px #598AB1;
  outline: none;
}

button.invalid, button.invalid:focus {
  border-color: #D45113;
  border-width:  2px;
  box-shadow: 0 0 6px #D45113;
  outline: none;
}

button.requirement, button.requirement:focus {
  border-color: linen;
  border-width:  1px;
  backdrop-filter: brightness(80%);
  box-shadow: 0 0 6px linen;
  outline: none;
}

button.requirement.synergy, button.requirement.synergy:focus {
  box-shadow: inset 0 0 6px 2px #598AB1, 0 0 6px linen;
}

button.requirement.invalid, button.requirement.invalid:focus {
  box-shadow: inset 0 0 6px 2px #D45113, 0 0 6px linen;
}

button.currentSkill.invalid, button.currentSkill.invalid:focus {
  border-color:  linen;
  border-width: 2px;
  box-shadow: inset 0 0 6px 2px #D45113, 0 0 6px linen;
}

button.currentSkill.invalid:hover, button.currentSkill.invalid:active {
  border-width: 3px;
}

button.bonusMode, button.bonusMode:focus {
  backdrop-filter: blur(2px) brightness(60%);
  border-color: transparent;
  box-shadow: none;
  color: #EDBA47;
  font-size: 20pt;
  font-weight: bold;
  padding: 0px;
}

button.bonusMode:hover, button.bonusMode:active {
  border-color: #EDBA47;
  box-shadow: 0 0 6px #EDBA47;
}

button.bonusMode.currentSkill, button.bonusMode.currentSkill:focus {
  border-width: 2px;
  border-color: #EDBA47;
}

button.bonusMode.currentSkill:hover, button.bonusMode.currentSkill:active {
  border-width: 3px;
}

button.bonusMode.requirement, button.bonusMode.requirement:focus {
  box-shadow: none;
}

.skillPoints {
  position:  absolute;
  text-align: center;
  border-color: transparent;
  margin:  0px;
  bottom: 0px;
  right:  1px;
  font-weight: bold;
  font-size: 11pt;
  padding:  0;
  width:  28%;
  height:  28%;
}
.skillPoints:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px linen;
  border-color: transparent;
}
.skillPoints:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #EDBA47;
}

/* Hide Number input arrows:  Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Number input arrows:  Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
