.Tab1, .Tab1:hover, .Tab1:focus {
  position:absolute;
  top: 75.5%;
  left: 72%;
  width: 26.5%;
  height: 21.7%;
  border-radius: 15px;
  background-color: transparent;
  border-color: transparent;
}

.Tab2, .Tab2:hover, .Tab2:focus {
  position:absolute;
  top: 50.7%;
  left: 72%;
  width: 26.5%;
  height: 21.7%;
  border-radius: 15px;
  background-color: transparent;
  border-color: transparent;
}

.Tab3, .Tab3:hover, .Tab3:focus {
  position:absolute;
  top: 26%;
  left: 72%;
  width: 26.5%;
  height: 21.7%;
  border-radius: 15px;
  background-color: transparent;
  border-color: transparent;
}
