.tooltipContainer {
    padding: 1em;
    width: 26em;
    white-space: pre-line;
    text-align: center;
    padding-right: 2em;
    padding-left:  0px;
 }

.skillName {
    margin-top:  0px;
    margin-bottom:  .2em;
}

.levelHeader {
    font-size: 14pt;
    margin-bottom: .2em;
}
