.tooltipContainer {
    padding: 1em;
    width: 28em;
    padding-right: 2em;
    padding-left:  0px;
 }
 .skillPreamble {
    margin-bottom: 1em;
 }
.skillName, .skillLongName {
    margin-top:  0px;
    margin-bottom:  .3em;
}
.levelHeader, .synergyHeader {
    font-size: 14pt;
    margin-top: .5em;
    margin-bottom: .2em;
}
ul {
    list-style-type: none;
    padding: 2px;
    margin-bottom:  0;
}
ul.dsc3 > li {
  background: #E3EBF2;
}
li {
  background: #F5F5F5;
  margin: .5em;
  padding-left:  .5em;
}