.treeContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
  float: left;
}
.tree {
  width: 420px;
}
.skillContainer{
  position: absolute;
  width: 19.7%;
  height: 14.45%;
}
.skillContainer.row1{
  top: 3.3%;
}
.skillContainer.row2{
  top: 18.7%;
}
.skillContainer.row3{
  top: 34.3%;
}
.skillContainer.row4{
  top: 49.8%;
}
.skillContainer.row5{
  top: 65.4%;
}
.skillContainer.row6{
  top: 81%;
}
.skillContainer.column1{
  left: 4.82%;
}
.skillContainer.column2{
  left: 26.3%;
}
.skillContainer.column3{
  left: 47.9%;
}
.skill, .skill:focus {
  position: absolute;
  width: 77%;
  height:  77%;
  border-radius: 2px;
  background-color: transparent;
  border-color: transparent;
}
.skill:hover, .skill:active {
  border-radius: 2px;
  border-width: 3px;
  background-color: transparent;
  border-color:  #EDBA47;
}
.skillPoints {
  position:  absolute;
  bottom: 0%;
  right:  10%;
  margin:  0px;
  color:  linen;
  font-weight: bold;
  font-size: .9em;
}