.treeContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
  float: left;
}

.tree {
  width: 420px;
}

label.hasBonus, input.hasBonus {
  color:  #EDBA47
}

label.noBonus, input.noBonus {
  color:  linen;
}